.login-warpper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login-box {
    width: 250px;
    height: 300px;
}

.login-form {
    
}